<p style="margin-bottom: 5px;">Select a product type:</p>
<!-- START ROW FOR INPUT SELECTORS -->
<div class="row d-inline-flex" style="padding-bottom: 25px;padding-top: 0px;">
  <!-- START COLUMN 1 -->
  <div class="col">
      <div class="form-check">
        <input id="audioRadio" name="product" checked onclick="updateProduct()" class="form-check-input" type="radio">
        <label class="form-check-label" for="formCheck-3" style="font-family: Lato, sans-serif; font-size: 1.2em; font-weight: 300;">Audio</label>
      </div>
  </div>
  <!-- END COLUMN 1 -->
  <!-- START COLUMN 2 -->
  <div class="col">
      <div class="form-check">
        <input id="videoRadio" name="product" onclick="updateProduct()" class="form-check-input" type="radio">
        <label class="form-check-label" for="formCheck-4" style="font-family: Lato, sans-serif; font-size: 1.2em; font-weight: 300;">Video</label>
      </div>
  </div>
  <!-- END COLUMN 2 -->
</div>
