<div id="questionRows" class="container flex-column" style="padding-top: 0px;">
  <!-- START FORM -->
  <div class="d-flex flex-wrap" id="questionTable">
    <form style="margin-top: 10px;" id="form1">
      <!-- QUESTION1 INPUT -->
      <p style="margin-top: 24px; margin-bottom: 10px;">Question 1</p>
      <input id="questionInput1" class="form-control" type="text">
      <!-- SELECTOR ITEMS -->
      <div class="form-row">
        <!-- QUESTIONTYPE -->
        <div class="col">
          <p style="margin-bottom: 10px;margin-top: 15px;">Question:</p>
          <select id="questionType1" class="form-control">
            <option id="q1" value="brand-awareness">brand-awareness</option>
            <option id="q2" value="demographic">demographic</option>
          </select>
        </div>
        <!-- SURVEY TYPE -->
        <div class="col">
          <p style="margin-top: 15px;margin-bottom: 10px;">Survey:</p>
          <select id="surveyType1" class="form-control">
            <option id="s1" value="single">single</option>
            <option id="s2" value="multiple">mutiple</option>
            <option id="s2" value="agree-disagree">agree-disagree</option>
          </select>
        </div>
      </div>
      <!-- SELECTOR #2 -->
      <div class="form-row">
        <!-- RANDOMIZE ANSWERS -->
        <div class="col">
          <p style="margin-top: 15px;margin-bottom: 10px;">Randomize Answers?</p>
          <select id="randomizeAnswers1" class="form-control">
            <option id="r2" value="false">false</option>
            <option id="r1" value="true">true</option>
          </select>
        </div>
      </div>
      <!-- ROW OF BUTTONS -->
      <div class="form-row">
        <!-- ADD ANSWER -->
        <div class="col text-right">
          <button onclick="addAnswer(1);" class="btn btn-primary border rounded-0" style="margin-top: 20px;" type="button">Add Answer</button>
        </div>
        <!-- ADD QUESTIONS -->
        <div class="col text-left">
          <button onclick="addQuestion();" class="btn btn-primary border rounded-0" style="margin-top: 20px;" type="button">Add Question</button>
        </div>
      </div>
      <!-- ANSWER INPUT -->
      <div class="input-group" style="margin-top: 15px;">
        <div class="input-group-prepend">
          <span class="input-group-text">Answer</span>
        </div><input id="1_responseInput_1" class="form-control" type="text">
        <div class="input-group-append"></div>
      </div>
    </form>
  </div>
  <!-- END FORM -->
</div>
