<p style="margin-bottom: 5px;">Select the number of CTAs</p>
<div class="row d-inline-flex" style="padding-bottom: 25px;padding-top: 0px;">
  <div class="col">
      <div class="form-check">
        <input id="oneCTA" onclick="updateTypeInterstitial()" name="adType" checked="" class="form-check-input" type="radio">
        <label class="form-check-label" for="formCheck-3" style="font-family: Lato, sans-serif; font-size: 1.2em; font-weight: 300;">One</label>
      </div>
  </div>
  <div class="col">
      <div class="form-check">
        <input id="twoCTA" onclick="updateTypeInterstitial()" name="adType" class="form-check-input" type="radio">
        <label class="form-check-label" for="formCheck-4" style="font-family: Lato, sans-serif; font-size: 1.2em; font-weight: 300;">Two</label>
      </div>
  </div>
</div>
