<!-- Footer file for AdTech Web App -->
<div class="border rounded-0 footer-basic">
    <footer>
        <div class="social" style="padding-bottom: 0px;">
          <a href="https://www.instagram.com/pandora/?hl=en" target="_blank"><i class="icon ion-social-instagram"></i></a>
          <a href="https://twitter.com/PandoraMusic" target="_blank"><i class="icon ion-social-twitter"></i></a>
          <a href="https://www.facebook.com/Pandora/" target="_blank"><i class="icon ion-social-facebook"></i></a>
        </div>
        <p class="copyright">Pandora Media, LLC © 2019</p>
        <!-- This website was built by Zain Shafique, an intern in AdTech & Trafficking from Summer 2019! -->
    </footer>
</div>
