<!-- Navbar file for AdTech Web App -->
<nav class="navbar navbar-dark navbar-expand-xl fixed-top bg-white layout-navbar gradient">
    <div class="container">
      <a class="navbar-brand logo" href="https://pandora.com" target="_blank">
        <img src="/assets/img/pandora.logo" alt="" style="max-width:88%; height:auto;">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav" style="margin-left: 1.5rem; min-width: 150%;">
                <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">AdTech Helpdesk</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="pixeltron.html">Pixeltron</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="escapaid.html">EscapAid</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="surveygen.html">Survey Gen</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="testador.html">Testador</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="utmatic.html">UtMatic</a></li>
                <li class="nav-item" role="presentation"><a target="_blank" class="nav-link" href="http://analytics.savagebeast.com:9001/analytics/adperf/TrackingReportBuilder.vm#tabs-1">Postback Report</a></li>
                <li class="nav-item dropdown">
                  <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Legacy Tools</a>
                    <div class="dropdown-menu" role="menu">
                      <a class="dropdown-item " role="presentation" href="adxcelorator.html" style="font-family: Lato, sans-serif; font-weight: 700;">Adxcelorator</a>
                      <a class="dropdown-item " role="presentation" href="interstitial.html" style="font-family: Lato, sans-serif; font-weight: 700;">Interstitial</a>
                      <a class="dropdown-item " role="presentation" href="mobilecodegen.html" style="font-family: Lato, sans-serif; font-weight: 700;">Mobile Code</a>
                      <a class="dropdown-item " role="presentation" href="XML.html" style="font-family: Lato, sans-serif; font-weight: 700;">XML Member</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
