<!-- Scripts for AdTech Web App -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-animation.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="assets/js/Pricing-Tables-Item-Featured.js"></script>
<script src="assets/js/theme.js"></script>
<!-- <script type="text/javascript">
    function zoom() {
        document.body.style.zoom = "82.9%"
    }
</script>
<body onload="zoom()"> -->
