<!-- HELP DESK FORMS COMPONENT -->
<!-- !!!!!!! START JIRA ENTRY FORMS !!!!!!! -->
<div id="theInput" style="display: none;">
    <form id="userInput" autocomplete="off" style="padding-bottom:30px;">
      <div id="jiraForm">
        <!-- Summary Form -->
        <div id="summaryForm">
          <p style="margin-bottom: 15px;"><strong>*Summary of Issue/Request:</strong></p>
          <input id="summary" name="Summary" style="margin-bottom: 15px;" onchange="formMin();" class="form-control" type="text">
        </div>
        <!-- General Form ----------------------------------------------------------->
        <div id="generalForm" style="display:none">
          <p style="margin-bottom: 15px;">Select a region:</p>
          <select id="salesTeam" style="margin-bottom: 15px;" class="form-control issueForm" name="Sales Team" value="">
              <option id="centralTeam" name="Central Team" value="Central Team">Central</option>
              <option id="eastTeam" name="East Team" value="East Team">East</option>
              <option id="insideTeam" name="Inside Sales Team" value="Inside Team">Inside Sales</option>
              <option id="internationalTeam" name="International Team" value="International Team">International Team</option>
              <option id="northWestTeam" name="NorthWest Team" value="NorthWest Team">Northwest Team</option>
              <option id="performanceTeam" name="Performance Team" value="Performance Team">Performance</option>
              <option id="southWestTeam" name="SouthWest Team" value="SouthWest Team">Southwest</option>
          </select>
          <p style="margin-bottom: 15px;">Slingshot Link: [Order ID]</p>
          <input id="ssLink" name="Slingshot Link" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">DFP Link:</p>
          <input id="dfpLink" name="DFP Link" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Start/End Dates:</p>
          <input id="datePicker" name="Start/End Dates" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- Affected Form ----------------------------------------------------------->
        <div id="affectedForm" style="display:none">
          <p style="margin-bottom: 15px;">Affected Line ID(s):</p>
          <input id="lineID" name="Affected Line ID(s)" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Affected Creative ID(s):</p>
          <input id="cID" name="Affected Creative ID(s)" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- Cert Form ----------------------------------------------------------->
        <div id="certForm" style="display:none">
          <p style="margin-bottom: 15px;">Vendor Name:</p>
          <input id="vendorName" name="Vendor Name" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Vendor Technical Contact Email:</p>
          <input id="vendorEmail" name="Vendor Email" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Vendor Technical Contact Phone Number</p>
          <input id="vendorPhone" name="Vendor Phone Number" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Requested Due Date:</p>
          <input id="requestDate" name="Requested Due Date" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Advertiser Name:</p>
          <input id="advertiserName" name="Advertiser Name" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Campaign Launch Date:</p>
          <input id="launchDate" name="Campaign Launch Date" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Campaign Dollar Amount:</p>
          <input id="dollarAmount" name="Campaign Dollar Amount" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- P1 Form ----------------------------------------------------------->
        <div id="p1Form" style="display:none">
          <p style="margin-bottom: 15px;">Sponsor Name: <br>[no spaces, will track trials in analytics]</p>
          <input id="sponsorName" name="Sponsor Name" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Max Daily Trials:</p>
          <input id="maxDayTrials" name="Max Daily Trials"style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Max Campaign Trials:</p>
          <input id="maxCampTrials" name="Max Campaign Trials" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Length of Trials:</p>
          <select style="margin-bottom: 15px;" class="form-control issueForm" id="trialLength" value="" name="Length of Trials">
              <option value="3_day"> 3 Day </option>
              <option value="7_day"> 7 Day </option>
              <option value="30_day"> 30 Day </option>
          </select>
          <p style="margin-bottom: 15px;">Intro Video File Path:</p>
          <input id="p1Video" name="P1 Video File Path" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Intro Video Impression Tracker:</p>
          <input id="p1VideoImp" name="P1 Video Impression" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Intro Video Click Tracker:</p>
          <input id="p1VideoClick" name="P1 Video Click" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">P1 in-trial Checked-in Skin File Path:</p>
          <input id="p1Skin" name="P1 Skin Value" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">P1 in-trial Skin impression tracker:</p>
          <input id="p1SkinImp" name="P1 Skin Impression" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">P1 in-trial Skin click tracker:</p>
          <input id="p1SkinClick" name="P1 Skin Click" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- Branded Radio Form ----------------------------------------------------------->
        <div id="brandedRadioForm" style="display:none">
          <p style="margin-bottom: 15px;">Station ID: [separated with commas]</p>
          <input id="stationID" name="Station ID" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Account used to create station:</p>
          <input id="stationAccount" name="Station Account" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- Searachle Form ----------------------------------------------------------->
        <div id="searchableForm" style="display:none">
          <p style="margin-bottom: 15px;">Searchable Term: [must be advertiser's name]</p>
          <input id="searchTerm" name="Searchable Term" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- Ad Spec Form ----------------------------------------------------------->
        <div id="adSpecForm" style="display:none">
          <p style="margin-bottom: 15px;">Ad Product:</p>
          <input id="product" name="Ad Product" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- TTR Form ----------------------------------------------------------->
        <div id="ttrForm" style="display:none">
          <p style="margin-bottom: 15px;">Opt-in Text:</p>
          <input id="optText" name="Opt-in Text" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Reg URL:</p>
          <input id="regUrl" name="Reg URL" style="margin-bottom: 15px;" class="form-control" type="text">
          <div style="margin-bottom: 15px;" class="row d-inline-flex">
            <div class="col">
              <div class="form-check">
                <input checked="" class="form-check-input" id="get" name="reqType" type="radio" value="Yes">
                <label class="form-check-label" for="formCheck-4" style="font-family: Lato, sans-serif; font-size: 1.2em; font-weight: 300;">GET</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" id="post" name="reqType" type="radio" value="Yes">
                <label class="form-check-label" for="formCheck-5" style="font-family: Lato, sans-serif; font-size: 1.2em; font-weight: 300;">POST</label>
              </div>
            </div>
          </div>
          <p style="margin-bottom: 15px;">What fields need to be passed?</p>
          <div class="form-row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-check text-right">
                <input type="checkbox" class="form-check-input" id="email" value="Yes" name="Pass Email"/>
                <label class="form-check-label">Email</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check text-center">
                <input type="checkbox" class="form-check-input" id="zip" value="Yes" name="Pass Zip"/>
                <label class="form-check-label">Zip</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check text-center">
                <input type="checkbox" class="form-check-input" id="gender" value="Yes" name="Pass Gender"/>
                <label class="form-check-label">Gender</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check text-left">
                <input class="form-check-input" type="checkbox" id="age" value="Yes" name="Pass Age"/>
                <label class="form-check-label">Age</label>
              </div>
            </div>
          </div>
        </div>
        <!-- IDFA Postback Form ----------------------------------------------------------->
        <div id="idfaPostbackForm" style="display:none">
          <p style="margin-bottom: 15px;">Test URL:</p>
          <input id="testUrl" name="Test URL" style="margin-bottom: 15px;" class="form-control" type="text">
          <div class="form-row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="fingerPrint" value="Yes" name="Fingerprinting Supported?"/>
                <label class="form-check-label">Fingerprinting Supported?</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="trackingLimit" value="Yes" name="Limit Ad Tracking Required?"/>
                <label class="form-check-label">Limit Ad Tracking Required?</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="postBack" value="Yes" name="Postback Required?"/>
                <label class="form-check-label">Postback Required?</label>
              </div>
            </div>
          </div>
        </div>
        <!-- Camp Ad Form ----------------------------------------------------------->
        <div id="campAd" style="display:none">
          <p style="margin-bottom: 15px;">Advertiser:</p>
          <input id="advertiser" name="Advertiser" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Campaign:</p>
          <input id="campaign" name="Campaign" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- Conversion Form ----------------------------------------------------------->
        <div id="conversionForm" style="display:none">
          <p style="margin-bottom: 15px;">Platform:</p>
          <div class="form-row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-check text-right">
                <input type="checkbox" class="form-check-input" id="mobilePlatform" value="Yes" name="Mobile"/>
                <label class="form-check-label">Mobile</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check text-left">
                <input type="checkbox" class="form-check-input" id="webPlatform" value="Yes" name="Web"/>
                <label class="form-check-label">Web</label>
              </div>
            </div>
          </div>
          <p style="margin-bottom: 15px;">Can the advertiser dynamically pass variable(s)?</p>
          <select id="dynamicallyPassVariable" style="margin-bottom: 15px;" class="form-control" name="Can Adverister Dynamically Pass Variable?" value="">
            <option value="yes">Yes</option>
            <option value="no">No</option>
            <option value="User Needs Help">I need technical help to determine this</option>
          </select>
        </div>
        <!-- Spotlight Form ----------------------------------------------------------->
        <div id="spotlightForm" style="display:none">
          <p style="margin-bottom: 15px;">DFP Order ID:</p>
          <input id="dfpOrderID" name="DFP Order ID" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Number of activities being tracked:</p>
          <input id="activities" name="activities" style="margin-bottom: 15px;width: 150px;" class="form-control d-inline-flex">
          <p style="margin-bottom: 15px;">Brief explanation of what the advertiser is tracking as a conversion:</p>
          <input id="conversionMetric" name="Conversion Metric" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Lookback Requirement? [days]</p>
          <input id="lookbackReq" name="lookbackRequirement" style="margin-bottom: 15px;width: 150px;" class="form-control d-inline-flex">
        </div>
        <!-- Conversion Test Form ----------------------------------------------------------->
        <div id="conversionTestForm" style="display:none">
          <p style="margin-bottom: 15px;">Click URL(s) that need a test line:</p>
          <input id="clickUrlTest" name="Click URLs to be Tested" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Line IDs to be tested:</p>
          <input id="testLineIds" name="Line IDs to be tested" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- DFP Push Form ----------------------------------------------------------->
        <div id="dfpPushForm" style="display:none">
          <p style="margin-bottom: 15px;">DFP Push Failure Message:</p>
          <input id="pushFailCode" name="DFP Push Fail:" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- Boomerang Form ----------------------------------------------------------->
        <div id="boomerangForm" style="display:none">
          <p style="margin-bottom: 15px;">Audience Segment Type:</p>
          <select id="audienceSegmentType" name="Audience Segment Type" style="margin-bottom: 15px;" class="form-control" value="">
            <option value="Re-Targeting">Re-Targeting</option>
            <option value="Anti-Targeting">Anti-Targeting</option>
          </select>
          <p style="margin-bottom: 15px;">Brief explanation of audience segment:</p>
          <input id="audienceSegment" value="" name="Audience Segement Description" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- Tools Vendor Form ----------------------------------------------------------->
        <div id="toolsVendorForm" style="display:none">
          <p style="margin-bottom: 15px;">Vendor Tag Name:</p>
          <input id="vendorTag" value="" name="Vendor Tag Name" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Tag Type:</p>
          <div class="form-row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="iFrame" value="Yes" name="iFrame"/>
                <label class="form-check-label">Iframe</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="javaScript" value="Yes" name="Javascript"/>
                <label class="form-check-label">JavaScript</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="impression" value="Yes" name="Impression"/>
                <label class="form-check-label">Impression Tracker</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="click" value="Yes" name="Click"/>
                <label class="form-check-label">Click Tracker</label>
              </div>
            </div>
          </div>
        </div>
        <!-- Environment Form ----------------------------------------------------------->
        <div id="environment" style="display:none">
          <div class="form-row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-check text-right">
                <input type="checkbox" class="form-check-input" id="beta" value="Yes" name="beta"/>
                <label class="form-check-label">Beta</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check text-left">
                <input type="checkbox" class="form-check-input" id="beta" value="Yes" name="beta"/>
                <label class="form-check-label">Prod</label>
              </div>
            </div>
          </div>
        </div>
        <!-- Environment Form ----------------------------------------------------------->
        <div id="platforms" style="display:none">
          <div class="form-row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="iPhonePlatform" value="Yes" name="iPhone"/>
                <label class="form-check-label">iPhone</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="androidPlatform" value="Yes" name="Android"/>
                <label class="form-check-label">Android</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="iPadPlatform" value="Yes" name="iPad"/>
                <label class="form-check-label">iPad</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="tabletPlatform" value="Yes" name="Tablet"/>
                <label class="form-check-label">Tablet</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Web" value="Yes" name="Web"/>
                <label class="form-check-label">Web</label>
              </div>
            </div>
          </div>
        </div>
        <!-- Environment Form ----------------------------------------------------------->
        <div id="tags" style="display:none">
          <div class="form-row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input required" id="attachmentCheck" value="Yes" name="iPhone"/>
                <label class="form-check-label">Do you have the 3rd Party Tag? <br> [please upload on the next screen]*</label>
              </div>
            </div>
          </div>
        </div>
        <!-- Discrepancy Form ----------------------------------------------------------->
        <div id="discrepForm" style="display:none">
          <p style="margin-bottom: 15px;">Third Party Vendor:</p>
          <input id="discrepVendor" value="" name="Third Party Vendor: (DFA, Atlas)" style="margin-bottom: 15px;" class="form-control" type="text">
          <div class="form-row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="attachmentCheck" type="checkbox" value="Yes"/>
                <label class="form-check-label">Do you have a discrepancy report? <br> [please upload on next screen]*</label>
              </div>
            </div>
          </div>
        </div>
        <!-- Delivery Form ----------------------------------------------------------->
        <div id="deliveryForm" style="display:none">
          <div class="form-row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="attachmentCheck" type="checkbox" value="Yes"/>
                <label class="form-check-label">Do you have a delivery report? <br> [please upload on next screen]*</label>
              </div>
            </div>
          </div>
        </div>
        <!-- AdXcel Form ----------------------------------------------------------->
        <div id="adXcelForm" style="display:none">
          <p style="margin-bottom: 15px;">Affected Line ID(s):</p>
          <textarea id="" name="Adxcel Tag" class="inputTagText form-control" style="margin-bottom: 15px;"></textarea>
        </div>
        <!-- Slingshot Form ----------------------------------------------------------->
        <div id="slingshotForm" style="display:none">
          <p style="margin-bottom: 15px;">SFDC Link:</p>
          <input id="sfdcLink" name="SFDC Link" value="" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Slingshot Link:</p>
          <input id="ssLink" name="Slingshot Link" value="" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Affected Line ID(s):</p>
          <input id="lineID" name="Affected Line ID(s)" value="" style="margin-bottom: 15px;" class="form-control" type="text">
          <p style="margin-bottom: 15px;">Start/End Dates:</p>
          <input id="datePicker" name="Start/End Dates" value="" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- Targeting Form ----------------------------------------------------------->
        <div id="targetingForm" style="display:none">
          <p style="margin-bottom: 15px;">Demographics:<br><small>[Age, Geo, Audience Segments, Dayparts]</small></p>
          <textarea id="Demos" value="" name="Demos" class="form-control" style="margin-bottom: 15px; height: 120px;"></textarea>
        </div>
        <!-- Creative Form ----------------------------------------------------------->
        <div id="creativeForm" style="display:none">
          <p style="margin-bottom: 15px;">Filepath to Creative Assets:</p>
          <input id="filePathAssets" name="Filepath to Creative Assets" value="" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- AvailsTool Form ----------------------------------------------------------->
        <div id="availsToolForm" style="display:none">
          <p style="margin-bottom: 15px;">Demographics:<br><small>[Age, Geo, Audience Segments, Dayparts]</small></p>
          <textarea id="Demos" value="" name="Demos" class="form-control" style="margin-bottom: 15px; height: 120px;"></textarea>
          <p style="margin-bottom: 15px;">Start/End Dates for Inventory Pull:</p>
          <input id="datePicker" name="Start/End Dates of Inventory Pull" value="" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- Broadcast Form ----------------------------------------------------------->
        <div id="broadcastForm" style="display:none">
          <p style="margin-bottom: 15px;">Selected Triton Books:</p>
          <input id="tritonBooks" name="Selected Triton Books" value="" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- Insights Dashboard Form ----------------------------------------------------------->
        <div id="insightsDashboardForm" style="display:none">
          <p style="margin-bottom: 15px;">Slingshot Link:<br><small>[Order ID]</small></p>
          <input id="ssLink" name="Slingshot Link" value="" style="margin-bottom: 15px;" class="form-control" type="text">
        </div>
        <!-- Insights Bug Form ----------------------------------------------------------->
        <div id="insightsBugForm" style="display:none">
          <p style="margin-bottom: 15px;">Steps Taken before Encountering Issue:</p>
          <textarea id="stepsTaken" class="form-control" onchange="formMin();" value="" name="Steps Taken before Encountering Issue" style="margin-bottom: 15px; height: 120px;"></textarea>
        </div>
        <!-- New Product Taxonomy Form ----------------------------------------------------------->
        <div class="newProductTaxonomyForm" style="display:none">
          <!-- Platform -->
          <p style="margin-bottom: 15px;">Platform:</p>
          <select id="platform" name="Platform" style="margin-bottom: 15px;" class="form-control issueForm" value="">
            <option value="product">Product</option>
            <option value="sponsorship">Sponsorship</option>
            <option value="bsp">Brand Station Platform</option>
          </select>
          <!-- Platform Type: -->
          <p style="margin-bottom: 15px;">Platform Type:<br><small>[check all for everywhere]</small></p>
          <div class="form-row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="iPhonePlatform" value="Yes" name="iPhone"/>
                <label class="form-check-label">iPhone</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="androidPlatform" value="Yes" name="Android"/>
                <label class="form-check-label">Android</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="iPadPlatform" value="Yes" name="iPad"/>
                <label class="form-check-label">iPad</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="tabletPlatform" value="Yes" name="Tablet"/>
                <label class="form-check-label">Tablet</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Web" value="Yes" name="Web"/>
                <label class="form-check-label">Web</label>
              </div>
            </div>
          </div>
          <!-- Ad Type -->
          <p style="margin-bottom: 15px;"><b>Ad Type:*<b></p>
          <select id="medium" name="Medium" required style="margin-bottom: 15px;" class="form-control issueForm">
            <option value="audio">Audio</option>
            <option value="video">Video</option>
            <option value="display">Display</option>
          </select>
          <!-- Spot Length -->
          <div id="audioOptions">
            <p style="margin-bottom: 15px;">Spot Length:</p>
            <select id="spotLength" required style="margin-bottom: 15px;" class="form-control issueForm">
              <option>:15</option>
              <option>:30</option>
            </select>
          </div>
          <!-- DFP Slot Size -->
          <div id="displayOptions">
            <p style="margin-bottom: 15px;"><b>DFP Slot Size:*</b></p>
            <select id="size" required style="margin-bottom: 15px;" class="form-control issueForm">
              <option selected="" value="1x1">1x1</option>
              <option value="300x250">300x250</option>
              <option value="300x600">300x600</option>
              <option value="360x130">360x130</option>
              <option value="2000x12">2000x12</option>
              <option value="newSlot">Other/New Slot Size</option>
            </select>
          </div>
          <!-- Other/New Slot Size -->
          <div id="newSizeDiv" style="display:none;">
            <p style="margin-bottom: 15px;">Other/New Slot Size</p>
            <input id="newSize" name="New Size" value="" style="margin-bottom: 15px;" class="form-control" type="text">
          </div>
          <!-- Country & Allowed Cost Types -->
          <div id="allOptions">
            <p style="margin-bottom: 15px;"><b>Country:*</b></p>
            <select id="country" required style="margin-bottom: 15px;" class="form-control issueForm">
              <option selected="" value="us">US</option>
              <option value="au">AU</option>
              <option value="nz">NZ</option>
            </select>
            <p style="margin-bottom: 15px;"><b>Allowed Cost Types:*</b></p>
            <select id="allowedCostTypes" required style="margin-bottom: 15px;" class="form-control issueForm">
              <option selected="" value="cpm">CPM</option>
              <option value="cpc">CPC</option>
              <option value="cpa">CPA</option>
              <option value="cpe">CPE</option>
            </select>
          </div>
          <!-- Allowed Targeting -->
          <div id="allowedTargetingContainer">
            <p style="margin-bottom: 15px;">Allowed Targeting:</p>
            <div class="form-row">
              <div class="col">
                <select multiple="multiple" id="allowedTargeting" name="allowedTargeting[]" class="form-control" style="margin-bottom:15px;">
                  <option value="ageTargeting" name="Age Targeting">Age Targeting</option>
                  <option value="genderTargeting" name="Gender Targeting">Gender Targeting</option>
                  <option value="cleanTargeting" name="Clean Targeting">Clean Targeting</option>
                  <option value="dmaTargeting" name="DMA Targeting">DMA Targeting</option>
                  <option value="msaTargeting" name="MSA Targeting">MSA Targetiing</option>
                  <option value="stateTargeting" name="State Targeting">State Targeting</option>
                  <option value="countyTargeting" name="County Targeting">County Targeting</option>
                  <option value="zipTargeting" name="Zip Targeting">Zip Targeting</option>
                  <option value="dayPartTargeting" name="DayPart Targeting">DayPart Targeting</option>
                  <option value="genreTargeting" name="Genre Targeting">Genre Targeting</option>
                  <option value="seededArtist" name="Seeded Artist Targeting">Seeded Artist Targeting</option>
                  <option value="family" name="Family Targeting">Family Targeting</option>
                  <option value="behavioural" name="Behavioural Targeting">Behavioural Targeting</option>
                  <option value="legislative" name="Legislative Targeting">Legislative Targeting</option>
                  <option value="congressional" name="Congressional Targeting">Congressional Targeting</option>
                </select>
              </div>
            </div>
          </div>
          <!-- Default/Mandatory Frequency Caps -->
          <div id="frequencyContainer">
            <p style="margin-bottom: 15px;">Default/Mandatory Frequency Caps:</p>
            <input id="frequencyCaps" type="text" name="Default/Mandatory Frequency Caps" value="" style="margin-bottom: 15px;" class="form-control">
          </div>
          <!-- Link to related JIRA ticket-->
          <div id="relatedContainer">
            <p style="margin-bottom: 15px;">Link to related JIRA adDev ticket:</p>
            <input id="adDevTicket" type="text" name="Ad Dev Ticket" value="" style="margin-bottom: 15px;" class="form-control">
          </div>
          <!-- Release date for product -->
          <div id="releaseDateContainer">
            <p style="margin-bottom: 15px;"><b>Product Release Date:*</b></p>
            <input id="releaseDate" type="date" name="Release Date" value="" style="margin-bottom: 15px;" class="form-control">
          </div>
        </div>
        <!-- Edit Product Taxonomy Form ----------------------------------------------------------->
        <div id="editProductTaxonomyForm" style="display:none">
          <p style="margin-bottom: 15px;">Name of product to be edited:</p>
          <input type="text" id="editedProduct" name="Producut to be Edited" value="" style="margin-bottom: 15px;" class="form-control">
          <p style="margin-bottom: 15px;"><b>Updated product release date:*</b></p>
          <input id="editDueDate" type="date" name="Edit Date" value="" style="margin-bottom: 15px;" class="form-control">
        </div>
        <!-- Edit Rulesets Form ----------------------------------------------------------->
        <div id="editRulesetsForm" style="display:none">
          <p style="margin-bottom: 15px;">Name of ruleset to be edited:</p>
          <input type="text" id="editedRuleset" name="Ruleset to be Edited" value="" style="margin-bottom: 15px;" class="form-control">
          <p style="margin-bottom: 15px;"><b>When does the ruleset need to be edited by?*</b></p>
          <input id="editDueDate" type="date" name="Edit Date" value="" style="margin-bottom: 15px;" class="form-control">
        </div>
      </div>
      <!-- Description Form -------------------------------------------------------------->
      <div id="descriptionForm">
        <p style="margin-top: 15px;margin-bottom: 15px;"><strong>Please describe Issue/Request:*</strong></p>
        <textarea required id="description" class="form-control textBoxForm" onchange="formMin();" value="" name="Description" style="height:200px;"></textarea>
        <div class="form-row text-nowrap d-inline-block" style="margin-top: 15px; margin-bottom: 0px;">
            <div class="col">
                <div class="form-check">
                  <input type="checkbox" id="rushRequest" onchange="managerEmailReq();" class="rushRequest form-check-input">
                  <label class="form-check-label" style="font-family: Lato, sans-serif;font-size: 1.2em;font-weight: 300;width: 125px;">Rush request?</label>
                </div>
            </div>
        </div>
      </div>
      <!-- Manager Email Container -------------------------------------------------------------->
      <div id="managerEmailContainer" style="display:none; margin-top: 15px;">
        <p style="margin-bottom: 15px;"><b>Manager Email:*</b></p>
        <input type="text" id="managerEmailAdd" name="Manager Email Address" value="" onchange="addJiraWatcher('managerEmailAdd');" style="margin-bottom: 15px;" class="form-control">
        <input type='hidden' id='priorityValue' value='3'></input>
      </div>
      <!-- Add Watchers Checkbox -------------------------------------------------------------->
      <div id="addWatchersContainer">
        <div class="form-row text-nowrap d-inline-block" style="margin-top: 15px;">
            <div class="col">
                <div class="form-check">
                  <input type="checkbox" id="addWatcher" onchange="showWatcherContainer();" class="addWatcher form-check-input">
                  <label class="form-check-label" style="font-family: Lato, sans-serif;font-size: 1.2em;font-weight: 300;width: 125px;">Add Watchers?</label>
                </div>
            </div>
        </div>
      </div>
      <!-- Add Watcher Emails  -------------------------------------------------------------->
      <div id="watcherContainer" style="display:none">
        <p style="margin-top: 15px;margin-bottom: 15px;">Comma separated list of watchers email addresses:</p>
        <textarea type="text" id="watcherList" name="Watchers" value="" onchange="addWatcherList('watcherList');" class="form-control issueForm"
        placeholder="patrick@pandora.com, spongebob@pandora.com, mrkrabs@pandora.com"></textarea>
      </div>
      <!-- Reporter's Pandora Email  -------------------------------------------------------------->
      <div id="reporterEmailContainer">
        <p style="margin-top: 15px;margin-bottom: 15px;"><strong>Reporter's <u>Pandora</u> email address:*</strong></p>
        <input type="text" id="emailAdd" name="Email Address" value="" onchange="checkEmail();" class="form-control">
      </div>
      <!-- Required Value Container  -------------------------------------------------------------->
      <div id="requiredContainer" style="margin-bottom:15px; margin-top:10px;">
        <small>* = Required</small>
      </div>
    </form>
    <!-- Submit button hidden and created on form verification within cats.js file -->
    <div id="submits">
      <!-- <button class="btn btn-primary border rounded-0" type="button" style="margin-top: 20px;">Submit</button> -->
      <p style="color:red; margin-bottom:-15px;">Please fill out all required fields.</p>
    </div>
</div>
<!-- This paragraph tag is used to return the description for the JIRA ticket -->
<p id="results" style="display:none"></p>
<!-- !!!!!!! END JIRA ENTRY FORMS !!!!!!! -->
