<div id="selectador">
  <form>
    <p>Not sure what type of issue you're seeing? <br> Select an item from the menu:</p>
    <div class="form-row">
      <!-- team type -->
      <div class="col" id="col1">
        <select multiple="multiple" class="form-control" id="teamType" name="Team Type" onclick="showSub('issueType', 'col2');" size="8">
        </select>
        <script>
        // populate with Team Type
        $('teamType').onload = populateCategory('teamType', teamType);
        </script>
      </div>
      <!-- issue type -->
      <div class="col" id="col2" style="display:none;">
        <select multiple="multiple" class="form-control" id="issueType" name="Issue Type" style="display:float;visibility:hidden" onclick="showSub('subIssue', 'col3');" size="8">
        </select>
        <script>
      // Populate Issue Type select
      $('issueType').onload = populateCategory('issueType', issueType);
      //chains issueType to teamType
      // $("#issueType").chained("#teamType");
      </script>
      </div>
      <!-- subIssue -->
      <div class="col" id="col3" style="display:none;">
        <select multiple="multiple" class="form-control" id="subIssue" name="Sub Issue" style="visibility:hidden;display:float" size="8">
        </select>
        <script>
        // Populate SubIssue select
        $('subIssue').onload = populateCategory('subIssue', subIssue);
        //chains subIssue to Issue
        // $("#subIssue").chained("#issueType");
        // Display links when selected
        $('#subIssue').change(function() {
            hideAllStuff();
            if ($('#subIssue').val() !== null) {
                showWiki(issueType, subIssue);
            }
        });
        </script>
      </div>
    </div>
  </form>
</div>
