<!-- WIKI COMPONENT -->
<div id="relatedLinks" style="display:none;">
  <form style="margin-top: 30px; padding-bottom:0px">
    <p style="margin-bottom: 10px;">Related Wiki(s):</p>
    <!-- container 1 -->
    <div id="dynamicWikiContent">
      <div class="form-row">
        <div id="topLinkContainer" style="margin-bottom: 15px; display:none;" class="col">
          <p style="margin-bottom: 10px; font-size:1.4em"><b>Top Link:</b></p>
          <a id="topLink" href="" target="_blank"></a>
        </div>
      </div>
      <!-- end container 1 -->
      <!-- container 2 -->
      <div class="form-row">
        <div id="additionalLinksContainer" style="display:none;" class="col">
          <div id="moreLinks">
            <p id="moreLinks" style="margin-bottom: 10px; font-size:1.3em"><b>Additional Links:</b></p>
          </div>
          <ul id="additionalLinks" class="list-unstyled"></ul>
        </div>
      </div>
      <!-- end container 2 -->
    </div>
  </form>
</div>
