<!-- Footer file for AdTech Web App -->
<div class="border rounded-0 footer-basic">
    <footer>
        <div class="social" style="padding-bottom: 0px;">
          <a href="https://www.instagram.com/pandora/?hl=en"><i class="icon ion-social-instagram"></i></a>
          <a href="https://twitter.com/PandoraMusic"><i class="icon ion-social-twitter"></i></a>
          <a href="https://www.facebook.com/Pandora/"><i class="icon ion-social-facebook"></i></a>
        </div>
        <p class="copyright">Pandora Media, LLC © 2019</p>
    </footer>
</div>
