<form id="adSpecsDiv" class="d-table">
  <!-- AD SPECS FOR DISPLAY -->
  <div id="adSpecsDisplay">
    <div id="impression">
      <p style="margin-bottom: 10px;padding-top: 10px;">Impression Macro:</p>
      <input class="form-control d-inline-flex" id="impressionURL" style="margin-bottom: 15px;" type="text" value="%i">
    </div>
    <div id="height">
      <p style="margin-bottom: 15px;">Ad Height:</p>
      <input class="form-control d-inline-flex" id="adHeight" style="margin-top: -15px;width: 150px;" type="text" value="1">
    </div>
  </div>
  <!-- AD SPECS FOR INT -->
  <div id="adSpecsInt" style="display:none;">
    <div id="impression">
      <p style="margin-bottom: 10px;padding-top: 10px;">Impression Macro:</p>
      <input class="form-control d-inline-flex" id="impressionURLInt" style="margin-bottom: 15px;" type="text" value="%i">
    </div>
    <div id="height">
      <p style="margin-bottom: 15px;">Ad Height:</p>
      <input class="form-control d-inline-flex" id="adHeight" style="margin-top: -15px;width: 150px;" type="text" value="1">
    </div>
  </div>
</form>
