<div class="container d-flex flex-wrap justify-content-center" style="display:block;" id="itemRows">
  <form style="margin-top: 50px">
    <!-- INPUT FIELDS -->
    <div class="rowDisplay" id="divRow0">
      <!-- PLACEMENT NAME -->
      <div class="displayNames" id="displayName">
        <p>Placement Name:</p>
        <textarea class="displayNameText form-control" id="displayName0" style="margin-top: -20px;"></textarea>
      </div>
      <!-- ADXCEL TAG -->
      <div class="adxcel" id="adxcel">
        <p style="margin-top: 15px;">AdXcel Tag:</p>
        <textarea class="form-control" id="0" onchange="generateCode(this.id);" style="margin-top: -20px;"></textarea>
      </div>
      <!-- DFP CODE -->
      <div class="xfp" id="xfp">
        <p style="margin-top: 15px;">DFP Code:</p>
        <textarea class="form-control" id="adcodeXFP0" readonly style="margin-top: -20px; height: 200px;"></textarea>
      </div>
      <!-- SLINGSHOT CODE -->
      <div class="ss" id="ss">
        <p style="margin-top: 15px;">Slingshot Code:</p>
        <textarea class="ssDisplayText form-control" id="adcodeSS0" readonly style="margin-top: -20px; height:100px;"></textarea>
      </div>
      <!-- ADD TAGS -->
      <div class="addRemoveButton form-row" id="addButton" style="margin-top: 15px;">
        <div class="col">
          <button class="ssDisplayText btn btn-primary border rounded-0" onclick="addRow(this.form);" style="width: 110px;" type="button">Add Tags</button>
        </div>
      </div>
    </div>
    <!-- END INPUT FIELDS -->
  </form>
</div>
