<form style="margin-top:15px">
  <!-- DISPLAY FORM SUBMIT BUTTONS -->
  <div id="submitButtonsDisplay">
    <!-- CAMPAIGN NAME -->
    <div class="form-row">
      <div class="col">
        <p style="margin-top: 15px;">Campaign Name [disp]:</p>
        <input class="form-control" id="campaignName" style="margin-top: -20px;" type="text">
      </div>
    </div>
    <!-- EXPORT SS TAGS -->
    <div class="form-row">
      <div class="col">
        <button class="downloadLinks btn btn-primary border rounded-0" id="downloadLinkDisplay" style="margin-top: 15px;margin-bottom: 0px;" type="button">Export SS Tags</button>
      </div>
    </div>
  </div>
  <!-- END DISPLAY FORM SUBMIT BUTTONS -->

  <!-- INTERSTITAL FORM SUBMIT BUTTONS -->
  <div id="submitButtonsInt" style="display:none;">
    <!-- CAMPAIGN NAME -->
    <div class="form-row">
      <div class="col">
        <p style="margin-top: 15px;">Campaign Name [int]:</p>
        <input class="form-control" id="campaignNameInt" style="margin-top: -20px;" type="text">
      </div>
    </div>
    <!-- EXPORT SS TAGS -->
    <div class="form-row">
      <div class="col">
        <button class="downloadLinks btn btn-primary border rounded-0" id="downloadLinkInt" style="margin-top: 15px;margin-bottom: 0px;" type="button">Export SS Tags</button>
      </div>
    </div>
  </div>
  <!-- END INTERSTITAL FORM SUBMIT BUTTONS -->

  <!-- PIXEL FORM SUBMIT BUTTONS -->
  <div id="submitButtonsPix" style="display:none;">
    <!-- CAMPAIGN NAME -->
    <div class="form-row">
      <div class="col">
        <p style="margin-top: 15px;">Campaign Name [pix]:</p>
        <input class="form-control" id="campaignNamePix" style="margin-top: -20px;" type="text">
      </div>
    </div>
    <!-- EXPORT SS TAGS -->
    <div class="form-row">
      <div class="col">
        <button class="downloadLinks btn btn-primary border rounded-0" id="downloadLinkPix" style="margin-top: 15px;margin-bottom: 0px;" type="button">Export Pixels</button>
      </div>
    </div>
  </div>
  <!-- END PIXEL FORM SUBMIT BUTTONS -->
</form>
