<div class="row d-inline-flex" style="margin-bottom:30px;">
  <div class="col">
    <div class="form-check">
      <input checked class="form-check-input" id="tag" name="adType" onclick="updateType();" type="radio"> <label class="form-check-label" for="formCheck-4" style=
      "font-family: Lato, sans-serif; font-size: 1.2em; font-weight: 300;">Create Adxcel display banner tags</label>
    </div>
  </div>
  <div class="col">
    <div class="form-check">
      <input class="form-check-input" id="intersitial" name="adType" onclick="updateType();" type="radio"> <label class="form-check-label" for="formCheck-5" style=
      "font-family: Lato, sans-serif; font-size: 1.2em; font-weight: 300;">Create Adxcel interstitial tags</label>
    </div>
  </div>
  <div class="col">
    <div class="form-check">
      <input class="form-check-input" id="pixel" name="adType" onclick="updateType();" type="radio"> <label class="form-check-label" for="formCheck-6" style=
      "font-family: Lato, sans-serif; font-size: 1.2em; font-weight: 300;">Create DFP pixel</label>
    </div>
  </div>
</div>
